/* Thanks to The GIMP Web Team (www.gimp.org) for their inspirational page design. */

/*********** colors and borders ***********/

body { /* defaults */
background-color: white;
color: black;
}

#titlebar, #navibar, h2 { /* structure backgrounds */
background-color: #f0f0f0;
}

h1, h2, h3, h4, a.anchor { /* structure foregrounds */
color: #152063;
}

a { /* navigation / links */
color: #3b72c7; 
}

#navibar a:hover {
border-color: #3b72c7; 
border-style:solid;
border-width: 1px;
}

.emph { /* emphasis */
color: darkGreen;
font-weight: bold;
}

h2, #main { /* color and style of borders */
border-color: #a9a9a9;/*#152063;*/
border-style: solid;
border-width: 1px;
}

#navibar {
border-color: #a9a9a9;/*#152063;*/
border-style: solid;
}

/*********** Fonts and text decorations ***********/

body { /* defaults */
font-family: arial,helvetica,sans-serif;
}

a, a.anchor {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a.anchor:hover {
text-decoration: none;
}

#navibar a, #navibar a.hover {
text-decoration: none;
display: block;
font-weight: bold;
}

/*********** Spacing, margins, padding, alignment ***********/

body {
margin: 0px;
}

#titlebar {
text-align: center;
margin: 0px;
padding: 0px;
}

#navibar {
margin-bottom: 2px;
padding: 30px 10px 0px 10px;
vertical-align: top;
white-space: nowrap;
left: 0px;
height: 100%;
}

h2 {
padding: 2px;
}

/*********** Exceptions and special elements ***********/

#logo {
border: 0px;
margin: 5px 0px 30px 0px;
align: center;
}

#navibar a, #navibar .emph {
margin: 0px 0px 3px 0px;
}

#navibar a {
padding: 1px;
}

#navibar a:hover {
padding: 0px;
}

#navibar a.sub {
display: block;
padding-left: 10px;
font-size: 90%;
}

#navibar span {
display: none;
}

#navibar {
border-width: 0px 0px 1px 0px;
}

#main {
padding: 15px;
border-width: 1px 0px 0px 1px;
}
