
body {
	font-family:			Helvetica, sans-serif;
	font-size:			14px;
	text-align:			justify;
	background-color:		#E0E0E0;
	margin-right:			10px;
	margin-left:			10px;
	margin-top:			5px;
	margin-bottom:			5px;
}
/*
		links
*/
a {
	font-size:			14px;
}
a[href] {
	color:				#4040FF;
	text-decoration:		none;
}
a[href]:hover {
	color:				#FF4040;
	text-decoration:		underline;
}
a[href]:visited {
	color:				#4040FF;
}
a[href]:active {
	color:				red;
}
/*
		title page 
*/
div.TITLEPAGE {
	left:				0px ;
	right:				0px ; 
	top:				0px
}

div.TITLEPAGE h1.title {
	margin-left:			0px;
	margin-right:			0px;
	padding-left:			300px;
	padding-bottom:			100px;
	background-image:		url(common/fond-titre.png) ;
}

div.TITLEPAGE h1.title a {
	color:				white;
	font-size:			24px;
	text-align:			center;
	text-decoration:		none; 
	line-height:			80px;
}

div.TITLEPAGE h3.author a {
/*	background-color:		#4268A6; */
	color:				white;
	font-size:			18px;
	text-align:			center;
	text-decoration:		none;

	margin-left:			0px;
	margin-right:			0px;
	padding-top:			5px;
	margin-bottom:			5px;
}

div.book {
}
/*
		entetes des chapitres dans les pages normales
*/
div.chapter h1 {
	color:				white;
	background-image:		url(common/fond-titre-chapitre.png) ;
	text-decoration:		none;
	font-size:			18px;
	padding:			5px;
	margin-right:			-5px;
	margin-left:			-5px;
}
/*
		Titles of level 1 sections
*/
div.sect1 h1 {
	color:				blue;
	background-color:		#E0E0E0;
	background-image:		none;
	text-decoration:		underline;
	font-size:			18px;
	padding:			5px;
	margin-right:			-5px;
	margin-left:			-5px;
}

div.sect1 h1.sect1 a {
	color:				blue;
	background-color:		#E0E0E0;
	background-image:		none;
	text-decoration:		underline;
	font-size:			18px;
	padding:			5px;
	margin-right:			-5px;
	margin-left:			-5px;
}
/*
		Titles of level 2 sections
*/
div.sect2 h2.sect2 {
	color:				blue;
	background-color:		#E0E0E0;
	background-image:		none;
	text-decoration:		none;
	font-size:			16px;
	padding:			5px;
	margin-right:			-5px;
	margin-left:			-5px;
}

div.sect2 h2.sect2 a {
	color:				blue;
	text-decoration:		none;
	font-size:			16px;
	padding:			5px;
	margin-right:			-5px;
	margin-left:			-5px;
}
/*
		table of content at the beginning of each chapter
*/
div.TOC {
	background-color:		#FFFFC0;
	margin-right:			50px;
	margin-left:			50px;
	padding:			5px;
}
div.TOC dt {
	font-size:			14px;
	margin-left:			20px;
}
div.TOC a {
	font-size:			14px;
	color:				#008080;
	margin-left:			40px;
	text-decoration:		none;
}
div.TOC a:hover {
	color:				#800000;
	text-decoration:		underline;
}
/*
		figures
*/
div.figure {
	text-align:			center;
}

div.figure div.informalexample {
	text-align:			center;
	color:					#006060;
}

div.informalfigure {
	text-align:			center;
}
/*
		equations
*/
div.equation {
	text-align:			center;
}
/*
		tables

TD  {
	text-align:			center;
}
TD P {
	text-align:			justify;
}
/*
		top navigation bar
*/
div.NAVHEADER th {
	color:				green;
}
/*
		bottom navigation bar
*/
div.NAVFOOTER td {
	color:				black; 
	text-decoration: 		italic;
}
/*
		user input
*/
PRE { 
	color:				#500000;
	margin-left:			40px;
}
/*
		variable list : term
*/
div.variablelist DT {
	color:				#008000; 
	text-decoration:		underline;
}

div.variablelist DT a {
	color:				#008000; 
	text-decoration:		underline;
}
div.variablelist DT a:visited {
	color:				#008000; 
	text-decoration:		underline;
}
/*
		keycodes
*/
span.keycode {
	color:				#006060; 
}