[Desktop Entry]
Categories=Science;DataVisualization;
Comment[en_US]=Application for scientific data analysis and visualization
Comment=Application for scientific data analysis and visualization
Comment[af]=Toepassing vir wetenskaplike data analise en visualisasie
Comment[ast]=Aplicación pa visualización y analís de datos científicos
Comment[bg]=Приложение за анализиране и визуализиране на научни данни
Comment[bn]=বৈজ্ঞানিক উপাত্ত বিশ্লেষণ এবং কল্পনার জন্য অ্যাপ্লিকেশন
Comment[bs]=Program za proučavanje naučnih podataka i predočenje
Comment[ca@valencia]=Aplicació per a l'anàlisi i visualització de dades científiques
Comment[ca]=Aplicació per a l'anàlisi i visualització de dades científiques
Comment[crh]=Bilimsel veri analizi ve görselleştirilmesi için uygulama
Comment[cs]=Aplikace pro zpracování a analýzu vědeckých dat
Comment[da]=Program til videnskabelig dataanalyse og -visualisering
Comment[de]=Programm zur wissenschaftlichen Datenauswertung und Visualisierung
Comment[el]=Εφαρμογή για ανάλυση και απεικόνιση επιστημονικών δεδομένων
Comment[es]=Aplicación para visualización y análisis de datos científicos
Comment[et]=Teadusandmete analüüsimise ja visualiseerimise rakendus
Comment[fi]=Sovellus tieteellisen datan analysointiin ja visualisointiin
Comment[fr]=Application d'analyse et de visualisation de données scientifiques
Comment[gl]=Aplicativo para a análise e visualización de datos científicos
Comment[hu]=Tudományos adatelemző és -vizualizációs alkalmazás
Comment[it]=Applicazione per la visualizzazione e l'analisi scientifica dei dati
Comment[ja]=科学データの分析および可視化用アプリケーション
Comment[ky]=Илимий берилиштерди анализдөө жана көрсөтүү үчүн тирекеме
Comment[lt]=Programa mokslinių duomenų analizei ir vizualizavimui
Comment[ms]=Aplikasi untuk analisis dan pengvisualan data saintifik
Comment[nb]=Applikasjon for vitenskapelig dataanalyse og visualisering
Comment[nl]=Applicatie voor wetenschappelijke data-analyse en visualisatie
Comment[oc]=Aplicacion d'analisi e de visualizacion de donadas scientificas
Comment[pl]=Aplikacja do wizualizacji i analizy danych naukowych
Comment[pt]=Aplicação para visualização e análise de dados científicos
Comment[pt_BR]=Programa para visualização e análise da dados científico
Comment[ro]=Aplicație pentru vizualizarea și analiza datelor științifice
Comment[ru]=Приложение для анализа и отображения научных данных
Comment[sl]=Program za preučevanje znanstvenih podatkov in predočenje
Comment[sq]=Program për analizën dhe shfaqjen e të dhënave shkencore
Comment[sv]=Vetenskaplig dataanalys och visualisering
Comment[tr]=Bilimsel veri analizi ve görselleştirilmesi için uygulama
Comment[uk]=Програма для візуалізації та наукового аналізу даних
Comment[vi]=Ứng dụng hình ảnh hoá và phân tích dữ liệu khoa học
Comment[zh_CN]=科学数据分析和可视化应用程序
Comment[zh_HK]=為科學資料進行分析及視覺化的應用程式
Comment[zh_TW]=為科學資料進行分析及視覺化的應用程式
Exec=alphaplot
GenericName[en_US]=
GenericName=
Icon=alphaplot
MimeType=
Name[en_US]=AlphaPlot
Name=AlphaPlot
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
