[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-aproj
Icon=alphaplot
Patterns=*.aproj;*.aproj.gz;
Comment=AlphaPlot project
Comment[de]=AlphaPlot-Projekt
Comment[fr]=Projet AlphaPlot
Comment[pt_BR]=Projeto do AlphaPlot
Comment[ru]=Проект AlphaPlot
